.files-table {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    border-radius: 4px;
    box-sizing: border-box;
}
.files-table-content > table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    box-sizing: border-box;

} 

.files-table-thead > tr {
    display: flex;
    flex-direction: row;
    background-color: #323232;
    justify-content: flex-start;
    align-items: center;
    height: 50px !important;
    padding: 0 20px;
    position: absolute;
    box-sizing: border-box;
    color: var(--foreground-muted);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.files-table-thead > tr > th {
    display: flex;
    flex-direction: row;
    width: 100%;    
    justify-content: flex-start;
    box-sizing: border-box;
}
.files-table-thead > tr > th:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 50px;    
    justify-content: flex-start;
    box-sizing: border-box;
    margin-right: 30px;
}
.files-table-thead > tr > th:nth-child(3){
    display: flex;
    flex-direction: row;
    width:290px;    
    justify-content: flex-start;
    box-sizing: border-box;
    margin-right: 30px;
}

.files-table-content > table > tbody {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 3px;
    padding-right:40px;
    
} 

.files-table-row {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    box-sizing: border-box;
}
.files-table-row > td {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    box-sizing: border-box !important;
}
.files-table-row > td:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 70px !important;
    max-width: none;
    width: 80px !important;
    padding: 0px 0px 0px 15px;
    box-sizing: border-box !important;
    fill: var(--foreground-muted);
}

.files-table-row > td:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 170px !important;
    max-width: none;
    width: 140px !important;
    box-sizing: border-box !important;
}

.files-table-row > td:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: flex-start;
    min-width: 'fit-content' !important;
    max-width: none;
    width: 60px !important;
    height: 100%;
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box !important;
}
.files-table-row > td:last-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: flex-start;
    min-width: 'fit-content' !important;
    max-width: none;
    width: 40px !important;
    height: 100%;
    padding-top: 16px;
    padding-left: 5px;
    box-sizing: border-box !important;
}
.files-table-row:hover {
    box-shadow: var(--shadow-primary);
    border-radius: 5px;
    cursor: pointer;

}

.files-table-row-expand-icon-cell {
    display: none !important;
}
.files-table-expanded-row {
    box-shadow: inset var(--shadow);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.files-table-expanded-row > td {
    display: flex;
   width: 100%;
}