.menu {
  box-sizing: border-box;
  display: flex;
  z-index: 10;
  position: absolute;
  width: 100%;
  background: #1f1f1f;
  height: 100%;
  transition: all 1.5s ease-in-out;
}
.menuItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75px;
  background: #1f1f1f;
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: 10px;
  border: none;
  padding-left: 1em;
  color: var(--foreground-muted);
  fill: var(--foreground-muted);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menuItem:hover {
  background-color: var(--foreground-dark-theme);
  color: var(--background-dark-theme);
  fill: var(--background-dark-theme);
  transition: all 0.2s ease-in-out;
}
