@font-face {
  font-family: 'Wavehaus';
  src: url('./assets/fonts/Wavehaus-95SemiBold.otf');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

:root {
  --bg-color: #1d1e1c;
  --card-bg: #1f1f1f;
  --text-black: #121212;
  --text-faded: #9e9e9e;
  --text-section-header: #d1d1d1;
  --text-white: #fafafa;
  --text-bright-white: #ffffff;
  --placeholder-text: #d1d1d1;
  --grey-white: #dfdfde;
  --error-red: #df1642;
  --success-green: #18a957;
  --caution: #ffbb38;
  --accent: #fe0230;
  --modal-bg: #1f1f1f;
}

.widget {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 575px;
  width: 512px;
  border-radius: 24px;
  padding: 56px 53px;
  background: var(--modal-bg);
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: 24px;
}
.widget-hidden {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 151px;
  width: 512px;
  border-radius: 24px;
  padding: 56px 53px;
  background: var(--modal-bg);
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: 24px;
}
.viewContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.space-between {
  justify-content: space-between !important;
}
.gap {
  gap: 0.5em;
}
.gap1 {
  gap: 1em;
}
.gap2 {
  gap: 2em;
}
.textLarge {
  font-family: 'Wavehaus';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
}
.textMedium {
  font-family: 'Wavehaus';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.textSmall {
  font-family: 'Wavehaus';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}
.underline {
  text-decoration: underline;
}
.link {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Wavehaus';
}

.hollowButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-white);
  border-radius: 6px;
  background: none;
}
.accentButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--accent);
  border: none;
}
.buttonLarge {
  height: 100px;
  width: 100%;
  cursor: pointer;
}
.buttonMedium {
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.faded {
  color: var(--text-faded);
}
.white {
  color: var(--text-white);
}
