@font-face {
  font-family: 'Wavehaus';
  src: url('./assets/fonts/Wavehaus-95SemiBold.otf');
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

:root {
  /* Common Variables */
  --primary: #FE0230;
  --foreground-muted: #EEEEEE;
  --input-text: #424242;
  --input-placeholder: #616161;
  --success: #5DC389;
  --warning: #F5A623;
  --error: #DF1642;
  --info: #3142c4;
  --shadow: rgba(0, 0, 0, 0.5);
  --text-subtle: #9E9E9E;
    /* Light Theme Variables */
    --background-light-theme: #FFFFFF;
    --foreground-light-theme: #FFFFFF;
    --text-light-theme: #000000;
    --secondary-light-theme: #171717;
      /* Dark Theme Variables */
  --background-dark-theme: #1F1F1F;
  --foreground-dark-theme: #FFFFFF;
  --text-dark-theme: #FFFFFF;
  --secondary-dark-theme: #ffffff;
}

.widget {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 575px;
  width: 512px;
  border-radius: 24px;
  padding: 56px 53px;
  background: var(--background-dark-theme);
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}
.widget-hidden {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 151px;
  width: 512px;
  border-radius: 24px;
  padding: 56px 53px;
  background: var(--background-dark-theme);
  box-shadow: 0px 0px 1px #0d0d0d, 0px 8px 16px rgba(13, 13, 13, 0.9);
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}
.viewContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin-top: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.space-between {
  justify-content: space-between !important;
}
.gap {
  gap: 0.5em;
}
.gap1 {
  gap: 1em;
}
.gap2 {
  gap: 2em;
}
.textLarge {
  font-family: 'Wavehaus';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
}
.textMedium {
  font-family: 'Wavehaus';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.textSmall {
  font-family: 'Wavehaus';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}
.underline {
  text-decoration: underline;
}
.link {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Wavehaus';
}

.hollowButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--foreground-muted);
  border-radius: 6px;
  background: none;
  color: var(--foreground-muted);
}
.button-primary {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--primary);
  border: none;
}
.buttonLarge {
  height: 100px;
  width: 100%;
  cursor: pointer;
}
.buttonMedium {
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.faded {
  color: var(--text-subtle);
}
.white {
  color: var(--foreground-muted);
}