@font-face {
  font-family: 'Wavehaus';
  src: url('./assets/fonts/Wavehaus-95SemiBold.otf');
  font-weight: 100;
  font-style: monospace;
  font-display: block;
}

:root {
  /* Common Variables */
  --primary: #fe0230;
  --foreground-muted: #eeeeee;
  --input-text: #424242;
  --input-placeholder: #616161;
  --success: #5dc389;
  --warning: #f5a623;
  --error: #df1642;
  --info: #3142c4;
  --shadow: 0px 8px 16px 0px #0D0D0DE5, 0px 0px 1px 0px #0D0D0D;
  --shadow-primary: 0px 2px 16px 0px black, 0px 1px 6px 0px #fe0230;
  --text-subtle: #9e9e9e;
  /* Light Theme Variables */
  --background-light-theme: #ffffff;
  --foreground-light-theme: #ffffff;
  --text-light-theme: #000000;
  --secondary-light-theme: #171717;
  /* Dark Theme Variables */
  --background-dark-theme: #1f1f1f;
  --foreground-dark-theme: #ffffff;
  --text-dark-theme: #ffffff;
  --secondary-dark-theme: #ffffff;
}

button {
  font-family: 'Wavehaus';
}

.widget {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 575px;
  width: 512px;
  border-radius: 24px;
  padding: 56px 53px;
  background: var(--background-dark-theme);
  box-shadow: var(--shadow);
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
  font-family: 'Wavehaus';
}
.widget-hidden {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 151px;
  width: 512px;
  border-radius: 24px;
  padding: 56px 53px;
  background: var(--background-dark-theme);
  box-shadow: var(--shadow);
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}
.viewContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
  box-sizing: border-box;
  margin-bottom: 0px;
  overflow: hidden;
  padding: 7px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.space-between {
  justify-content: space-between !important;
}
.gap {
  gap: 0.5em;
}
.gap1 {
  gap: 1em;
}
.gap2 {
  gap: 2em;
}
.textLarge {
  font-weight: 700;
  font-size: 19px;
}
.textMedium {
  font-weight: 700;
  font-size: 16px;
}
.textSmall {
  font-weight: 500;
  font-size: 13px;
}
.underline {
  text-decoration: underline;
}
.link {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

.hollowButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--foreground-muted);
  border-radius: 6px;
  background: none;
  color: var(--foreground-muted);
}
.button-primary {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--primary);
  border: none;
  cursor: pointer;
}
.buttonLarge {
  height: 100px;
  width: 100%;
  cursor: pointer;
}
.buttonMedium {
  height: 50px;
  width: 100%;
  cursor: pointer;
}
.faded {
  color: var(--text-subtle);
}
.white {
  color: var(--foreground-muted);
}
.radius {
  border-radius: 6px;
}

.scroll-container {
  overflow-x: scroll;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hover {
  color: inherit;
  fill: inherit;
  border-color: inherit;
  transition: all 0.2s ease-in-out;
}

.hover:hover {
  color: var(--primary);
  fill: var(--primary) !important;
  border-color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0px;
  margin: 0px;
}
